*{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.tabela__horario{
    display: flex;
    justify-content: center;
    
}

table{
    margin: 20px 0 40px;
}

thead{
    background: #7b3786;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 10px 70px;
}