a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #996899;
    background-size: cover;
    height: 12vh;

}

.nav__list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav__list li {
    letter-spacing: 3px;
    margin-left: 32px;
}


.aka__nome{
    max-width: 200px;
}

.mobile__menu{
    display: none;
    cursor: pointer;
}

.mobile__menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav__list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }

    .nav__list{
        margin-left: 0;
        opacity: 0;
    }

    .mobile__menu{
        display: block;
    }
}

.nav__list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*.cabecalho__principal .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo__aka{
    max-width: 11vh;
}

.aka__nome{
    max-width: 200px;
}

.cabecalho__principal-nav{
    display: flex;

}

.cabecalho__principal-nav-link{
    padding: 10px;
    text-decoration: none;
    display: block;
}

.container{
    background-image: url(../img/grade-banner.png);
    background-size: cover;
    
    
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7s;
}
