.container__footer{
    background: #996899;
    text-align: center;

}

.logo__aka{
    max-width: 14vh;
    margin-top: 20px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    margin-top: 20px;
    padding-bottom: 20px;
}